extends template.pug

block content
  p Hey there #{Username},  
  p 
    | Thanks for joining Chastilock! Please click 
    a(href=`https://api.chastilock.org/activate/${Validation_Code}`) here to activate your account.
    |  This will allow us to send you emails. Currently this is just used to reset your password should you forget it. As always your data is kept securely and is never shared with 3rd parties.
  p We hope you have fun!
  p Chastilock Team!
