extends template.pug

block content
    p Hey there #{Username}, 
    p 
        | Someone (hopefully you!) has requested to reset your ChastiLock password! Please click 
        a(href=`https://api.chastilock.org/passwordreset/${code}/${email}`) here to reset your password.
        p If this wasn't you, please ignore this email. If this happens reguarly, please get in touch!
        p Best wishes!
        p Chastilock Team!