doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
  body(style="padding: 3%; align-items: center; display: block")
    div#wrapper(style="width: 98%; padding: 10px; margin: auto;")
      div#logowrapper(style="height: 50; vertical-align: middle;")
        img#logo(src="https://api.dev.k8s.chastilock.org/static/chastilock-logo.png" style="vertical-align: middle;" height="50" width="50")
        span#logoname(style="font-size: 36px; vertical-align: middle; margin-left: 10px;") Chastilock
      
      div#text(style="font-size: 19px;")
        block content