doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Reset Password - Chastilock
  body 
    h3 Reset Password
    form(method="post")
        label(for="newpassword") New Password:
        br
        input(type="password", name="newpassword")
        br
        label(for="newpasswordconfirm") Confirm New Password:
        br
        input(type="password", name="newpasswordconfirm")
        input(type="hidden", name="code" value=`${Code}`)
        input(type="hidden", name="email" value=`${Email}`)
        br
        input(type="submit")
